<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="https://www.baidu.com">百度</a></h3>有困难找度娘</li>
  <li><h3><a href="http://www.nijunheng.com">个人网站</a></h3>欢迎捐款</li>
</ul>
<%- include footer %>
